* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.hiden {
  display: none;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

header {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

footer {
  width: 100%;
  margin: 0;
  padding: 2rem;
  border-top: 2px solid black;
}

.navbar,
.nav-list,
#meal-details,
.category-ingredients-wrapper,
#links,
#previous-comments,
.form-comment,
#previous-comments-container {
  display: flex;
}

.nav-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.itemcounter {
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar {
  justify-content: space-between;
}

.nav-list {
  width: 70%;
  gap: 4%;
}

/* Styling comment Popup */

#comment-popup,
#meal-details,
#previous-comments {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meal-name {
  margin: 3% 0;
}

.category-ingredients-wrapper {
  justify-content: space-between;
  width: 100%;
}

#meal-details {
  width: 60%;
}

#comment-popup {
  border: solid;
  width: 100%;
  min-height: 100vh;
  gap: 40px;
}

.cooking-instruction {
  padding: 2%;
  text-align: left;
}

#links {
  width: 100%;
  justify-content: space-between;
}

.image-container {
  height: 60vh;
  background-size: 100% 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.form-comment {
  width: 60%;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 3%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#Add-comment,
#comment-header {
  width: 100%;
  text-align: center;
}

#prev-comments,
form {
  margin-left: 3%;
}

#previous-comments-container {
  gap: 5px;
  flex-direction: column;
}

input,
textarea,
#commentBtn {
  border-radius: 10px;
}

input {
  width: 45%;
  height: 40px;
}

#commentBtn {
  width: 22.5%;
  height: 40px;
}

textarea {
  width: 50%;
  height: 200px;
}

#closeBtn {
  width: 60%;
  text-align: right;
  margin-top: 2%;
}

#maincontainer {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 33.333333%;
  padding: 1.3rem;
  min-height: 300px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainimage {
  max-width: 100%;
  max-height: 100%;
}

.nameandlikes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 55px;
}

.mealname {
  font-size: 1rem;
}

.likesdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.25rem;
  align-self: center;
  min-width: 80px;
}

.likebutton {
  border: 0;
  background: none;
  padding: none;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.likebutton:hover {
  width: 1.8rem;
  height: 1.8rem;
  color: rgb(253, 65, 65);
}

.heart {
  width: 100%;
  pointer-events: none;
  height: 100%;
}

.pressed {
  color: rgb(255, 108, 132);
  cursor: auto;
}

.buttonholder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  margin: 0.5rem;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .mealname {
    font-size: 1.3rem;
  }

  .likebutton {
    width: 2rem;
    height: 2rem;
  }

  .likebutton:hover {
    width: 2.5rem;
    height: 2.5rem;
  }

  .section {
    max-height: none;
  }

  .nameandlikes {
    min-height: 70px;
  }
}
